<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Artical</title>
</head>
<body>
    <h1>Create Artical</h1>
    <form action="{%  url 'artical_create_post' %}" method="POST">
        {% csrf_token %}
        <!-- <input type="text" name="title" placeholder="Artical Title" /> <br /><br />
        <textarea name="content" id="" cols="30" rows="10" placeholder="Artical Description"></textarea> <br /><br /> -->
        {{ form }}
        <input type="submit" value="Create"/>
    </form>
</body>
</html>